body{
  margin: 0;
  padding: 0;
  /* display: flex; */
  font-family: sans-serif;
}
header{
  display: flex;
  justify-content: space-between;
  margin: 40px;
  
}
main{
  background: white;
}
.loopstudios{
  color: white;
}

ul {
  overflow: hidden;
}
nav li{
  list-style: none;
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  color: white;
  padding: 15px 18px;
  text-align: center;
}
.hero{
  background-image: url('./images/desktop/image-hero.jpg');
}
.hero-text{
  border: 1px solid white;
  height: 140px;
  width: 250px;
  font-size: 35px;
  color: white;
  margin: 35px;
  padding: 20px;
  text-transform: uppercase;
  font-weight: lighter;
  
}
.section1-container{
  display: flex;
  margin: 60px;
}
.interactive{
  height: 300px;
  width: 790px;
  background-image: url(./images/desktop/image-interactive.jpg);
}
.description{
  height: 150px;
  width: 300px;
}
.sec-header{
  display: flex;
  justify-content: space-between;
}

.sec-header div{
  text-transform: uppercase;
  font-size: 35px;
  font-weight: lighter;
  color: hsl(0, 0%, 55%);
}
.mid-section{

}
.thumbnails{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.deep{
  background-image: url(./images/desktop/image-deep-earth.jpg);
  color: white;
}
.night{
  background-image: url(./images/desktop/image-night-arcade.jpg);
  color: white;
}
.soccer{
  color: white;
  background-image: url(./images/desktop/image-soccer-team.jpg);
}
.grid{
  color: white;
  background-image: url(./images/desktop/image-grid.jpg);
}
.above{
color: white;
background-image: url(./images/desktop/image-from-above.jpg);
}
.pocket{
  color: white;
  background-image: url(./images/desktop/image-pocket-borealis.jpg);
}
.curiosity{
  color: white;
  background-image: url(./images/desktop/image-curiosity.jpg);
}
.fish{
  color: white;
  background-image: url(./images/desktop/image-fisheye.jpg);
}