body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
    flex-direction: column;
}
header{
  display: flex;
  justify-content: space-between;
  margin: 155px;
  margin-top: 0;
  
}
main{
  background: white;
  flex: 1;
}
.loopstudios{
  color: white;
}

ul {
  overflow: hidden;
}
nav li{
  list-style: none;
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  color: white;
  padding: 15px 18px;
  text-align: center;
}
.hero{
  background-image: url('./images/desktop/image-hero.jpg');
}
.hero-text{
  border: 1px solid white;
  height: 140px;
  width: 250px;
  font-size: 35px;
  color: white;
  margin: 155px;
  padding: 20px;
  text-transform: uppercase;
  font-weight: lighter;
  
}
.section1-container{
  display: flex;
  margin: 155px;
}
.interactive{
  height: 300px;
  width: 790px;
  background-image: url(./images/desktop/image-interactive.jpg);
  background-repeat: no-repeat;
}
.description{
  height: 150px;
  width: 300px;
}
.sec-header{
  display: flex;
  justify-content: space-between;
}

.sec-header div{
  text-transform: uppercase;
  font-size: 35px;
  font-weight: lighter;
  color: hsl(0, 0%, 55%);
  
}
.mid-section{
  width: 1000px;
  margin: 150px;
}
button{
  margin-right: 155px;
  height: 25px;
  width: 90px;
  font-size: 15px;
  text-transform: uppercase;
  background: white;
  border: 2px solid hsl(0, 0%, 55%);
  cursor: pointer;
  
}
button:hover{
  background-color: black;
  color: white
  
}
.thumbnails{
  width: 1000px;
  height: 650px;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
    
}
.thumbnails div{
  cursor: pointer;
}
.thumbnails div:hover{
  opacity: 0.5;
}
.deep{
  background-image: url(./images/desktop/image-deep-earth.jpg);
  color: white;
  background-repeat: no-repeat;
  position: relative;
  
}
.deep p {
  position: absolute;
  bottom: 0;
  font-size: larger;
  font-weight: lighter;
  text-transform: uppercase;
  width: auto;
  text-align: center;
  word-spacing: 300px;
}
.night{
  background-image: url(./images/desktop/image-night-arcade.jpg);
  color: white;
  background-repeat: no-repeat;
  position: relative;
}
.night p {
  position: absolute;
  bottom: 0;
  font-size: larger;
  font-weight: lighter;
  text-transform: uppercase;
  width: auto;
  text-align: center;
  word-spacing: 300px;
}
.soccer{
  color: white;
  background-image: url(./images/desktop/image-soccer-team.jpg);
  background-repeat: no-repeat;
  position: relative;
}
.soccer p {
  position: absolute;
  bottom: 0;
  font-size: larger;
  font-weight: lighter;
  text-transform: uppercase;
  width: auto;
  text-align: center;
  word-spacing: 300px;
}
.grid{
  color: white;
  background-image: url(./images/desktop/image-grid.jpg);
  background-repeat: no-repeat;
  position: relative;
}
.grid p{
  position: absolute;
  bottom: 0;
  font-size: larger;
  font-weight: lighter;
  text-transform: uppercase;
  width: auto;
  text-align: center;
  word-spacing: 300px;
}
.above{
color: white;
background-image: url(./images/desktop/image-from-above.jpg);
background-repeat: no-repeat;
position: relative;
}
.above p {
  position: absolute;
  bottom: 0;
  font-size: larger;
  font-weight: lighter;
  text-transform: uppercase;
  width: auto;
  text-align: center;
  word-spacing: 300px;
}
.pocket{
  color: white;
  background-image: url(./images/desktop/image-pocket-borealis.jpg);
  background-repeat: no-repeat;
  position: relative;
}
.pocket p {
  position: absolute;
  bottom: 0;
  font-size: larger;
  font-weight: lighter;
  text-transform: uppercase;
  width: auto;
  text-align: center;
  word-spacing: 300px;
}
.curiosity{
  color: white;
  background-image: url(./images/desktop/image-curiosity.jpg);
  background-repeat: no-repeat;
  position: relative;
}
.curiosity p {
  position: absolute;
  bottom: 0;
  font-size: larger;
  font-weight: lighter;
  text-transform: uppercase;
  width: auto;
  text-align: center;
  word-spacing: 300px;
}
.fish{
  color: white;
  background-image: url(./images/desktop/image-fisheye.jpg);
  background-repeat: no-repeat;
  position: relative;
}
.fish p {
  position: absolute;
  bottom: 0;
  font-size: larger;
  font-weight: lighter;
  text-transform: uppercase;
  width: auto;
  text-align: center;
}

footer{
  width: 100%;
  height: 12rem;
  background-color: black;
  
}
.footer-header{
  
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
footer div{
  color: white;
  font-weight: bolder;
}
.social{
  height: 80px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.facebook{
  height: 20px;
  width: 20px;
  background-image: url(./images/icon-facebook.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.twitter{
  height: 20px;
  width: 20px;
  background-image: url(./images/icon-twitter.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.instagram{
  height: 20px;
  width: 20px;
  background-image: url(./images/icon-instagram.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.pinterest{
  height: 20px;
  width: 20px;
  background-image: url(./images/icon-pinterest.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.bottom{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.bottom p{
  color: white;
}
.links{
  display: flex;
  justify-content: space-between;
}
